.forgot-password {
    height: 100%;
    padding: 110px 0px 81px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-weight: 300;
        font-size: 35px;
        text-align: center;

        span {
            border-bottom: 1px solid #000;
        }
    }

    h2 {
        font-weight: 300;
        font-size: 18px;
        margin-top: 20px;
    }

    div {
        margin-top: 59px;
    }

    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #8B8B8B;
    }

    input {
        margin-top: 7px;
        height: 40px;
        border: 0.987821px solid #D9D9D9;
        border-radius: 9.87821px;
        padding: 0px 20px;
        width: 356px;
        font-size: 16px;
        color: #000;

        &::placeholder {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #8B8B8B;
        }

        &.error {
            border-color: #ff0000;

            &::placeholder {
                color: #ff0000;
            }
        }
    }

    .btn.btn-primary.btn-first,
    .btn.btn-primary.btn-second,
    .btn.btn-primary.btn-third,
    .btn.btn-primary.btn-fourth {
        height: 55px;
        margin-top: 68px;
        background: #A74CFF;
        border-radius: 82.5911px;
        font-weight: 500;
        font-size: 20px;

        &:hover {
            background: #740ed3;
        }

        &:focus {
            background: #740ed3;
        }

        &:active {
            background: #8A0BFF;
        }
    }

    .btn.btn-primary.btn-first {
        width: 197px;
    }

    .btn.btn-primary.btn-second {
        width: 210px;
    }

    .btn.btn-primary.btn-third {
        width: 282px;
    }

    .btn.btn-primary.btn-fourth {
        width: 374px;
        font-size: 18px;
        margin-top: 120px;
    }
}

@media (max-width: 730px) {
    .forgot-password {
        padding: 118px 26px 95px 26px;
        align-items: flex-start;

        h1 {
            font-size: 30px;
            text-align: left;
        }

        h2 {
            font-size: 18px;
            margin-top: 18px;
        }

        div {
            width: 100%;
            margin-top: 26px;
        }

        input {
            width: 100%;
            font-size: 14px;

            &::placeholder {
                font-size: 14px;
            }
        }

        .btn.btn-primary {
            margin-top: 40px;
        }
    }
}

@media (max-width: 450px) {
    .forgot-password {
        h1 {
            font-size: 22px;
        }

        .fourth {
            font-size: 30px;
        }

        .btn.btn-primary.btn-third {
            width: 100%;
        }

        .btn.btn-primary.btn-fourth {
            width: 100%;
            height: auto;
            font-size: 18px;
        }
    }
}