.section-five{
    padding-bottom: 108px;
    overflow-x: hidden;
    background-color: #A585FF;
    // user-select: none;

    h2{
        font-weight: 400;
        font-size: 40px;
        padding: 83px 0px 0px 80px;
        color: #fff;
    }

    &__navigation{
        display: flex;
        justify-content: space-between;
        padding: 40px 81px 0px 80px;

        p{
            font-weight: 400;
            font-size: 26px;
            color: #fff;
            display: flex;
            user-select: none;
            
            span{
                color: rgba(192, 192, 192, 1);
                user-select: none;
            }

            div{
                cursor: pointer;

                svg{
                    margin-left: 25px;
                }
            }
        }
    }

    &__navigation-mobile{
        display: none;
    }

    &__slider-one{
        margin-top: 43px;

        .slick-list{
            padding-left: 80px;
        }

        .slick-slide{
            margin-right: 30px;
            transition: opacity 1s;
            opacity: 1;

            // &[data-index = "-1"]{
            //     margin-right: 80px;
            // }
            
            // &.slick-active{
            //     opacity: 1;
            //        transition: opacity 1s;
            //     .section-five__block{
                   
            //     }
            // }
        }
    }

    &__slider-two{
        margin-top: 43px;

        img{
            border-radius: 20px;
        }

        .slick-list{
            padding-left: 95px;
        }

        .slick-slide{
            width: 90vw;
            margin-right: 95px;
            transition: opacity 1s;
            
            &:not(.slick-active){
                .section-five__block{
                   opacity: .3;
                   transition: opacity 1s;
                }
            }
        }
    }

    &__block{
        height: 566px;
        width: 386px !important;
        padding: 26px 26px 29px;
        background: #FFFFFF;
        border: 1px solid #D9D9D9;
        border-radius: 30px;
        transition: opacity 1s;

        img{
            width: 334px;
            height: 298px;
            border-radius: 20px;
        }

        &-info{
            margin-top: 25px;
            p{
                font-size: 18px;
                font-weight: 300;

                span{
                    font-size: 20px;
                    font-weight: 500;
                }
            } 
        }

        .btn.btn-primary{
            height: 55px;
            width: 207px;
            margin-top: 20px;
            font-weight: 600;
            font-size: 20.7192px;
        }
    }

    &__block-full{
        min-height: 587px;
        width: 100% !important;
        padding: 51px 109px 54px 89px;
        background: #FFFFFF;
        border: 1px solid #D9D9D9;
        border-radius: 30px;
        transition: opacity 1s;
        display: flex;
        justify-content: space-between;
        position: relative;

        img{
            width: 334px;
            height: 298px;
        }

        &-info{
            p{
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 20px !important;

                span{
                    font-size: 18px;
                    font-weight: 300;
                }
            } 
        }

        &-gallery{
            .gallery-top{
                display: flex;
                max-width: 624px;
                flex-wrap: wrap;

                img{
                    width: 146px;
                    height: 107px;
                    cursor: pointer;
                    transition: transform .3s;
                    margin-right: 10px;
                    margin-bottom: 10px;

                    &:hover{
                        transform: scale(1.05);
                    }
                }
            }
            .gallery-bottom{
                margin-top: 17px;
                position: relative;

                img{
                    width: 624px;
                    height: 320px;
                    cursor: pointer;
                    transition: transform .3s;

                    &:hover{
                        transform: scale(1.05);
                    }
                }

                svg{
                    position: absolute;
                    bottom: 9px;
                    right: 9px;
                }
            }
        }

        &-close-btn{
            position: absolute;
            top: 32px;
            right: 28px;
            cursor: pointer;
        }
    }
}

@media (max-width: 1500px){
    .section-five{
        &__slider-two{
            .slick-slide{
                width: 87vw;
            }
        }
    }
}

@media (max-width: 1392px){
    .section-five{
        &__block-full{
            padding: 36px 67px 17px 51px;
            min-height: 566px;

            &-info{
                p{
                    font-size: 18px;
                    margin-right: 10px;
    
                    span{
                        font-size: 16px;
                        font-weight: 300;
                    }
                } 
            }
        }
    }
}

@media (max-width: 1250px){
    .section-five{
        h2{
            font-size: 35px;
            padding: 46px 32px 40px 32px;
        }

        &__navigation{
            padding: 20px 32px 40px 32px;
        }

        &__slider-one{
            margin-top: 20px;
    
            .slick-list{
                padding-left: 32px;
            }
    
            .slick-slide{
    
                &:not(.slick-active){
                    .section-five__block{
                       opacity: .3;
                    }
                }
            }
        }

        &__slider-two{
            margin-top: 20px;
    
            .slick-list{
                padding-left: 30px;
            }
    
            .slick-slide{
                width: 95vw;
                margin-right: 30px;
    
                &:not(.slick-active){
                    .section-five__block{
                       opacity: .3;
                    }
                }
            }
        }
    }
}

@media (max-width: 1140px){
    .section-five{
        &__block-full{
            min-height: 500px;
            &-info{
                p{
                    margin-bottom: 10px !important;
                } 
            }

            &-gallery{
                .gallery-top{
                    max-width: 524px;
                    img{
                        width: 160px;
                        height: 115px;
                        cursor: pointer;
                        transition: transform .3s;
                    }
                }
                .gallery-bottom{
                    margin-top: 17px;
                    position: relative;
    
                    img{
                        width: 524px;
                        height: 290px;
                        cursor: pointer;
                        transition: transform .3s;
    
                        &:hover{
                            transform: scale(1.05);
                        }
                    }
    
                    svg{
                        position: absolute;
                        bottom: 9px;
                        right: 9px;
                    }
                }
            }

            &-close-btn{
                position: absolute;
                top: 16px;
                right: 20px;
                cursor: pointer;
                width: 20px;
            }
        }
    }
}

@media (max-width: 1200px){
    .section-five{
        &__block-full{
            padding: 36px 67px 17px 51px;
        }
    }
}

@media (max-width: 960px){
    .section-five{
        &__slider-two{
            .slick-list{
                padding-left: 23px;
            }

            .slick-slide{
                width: 95vw;
                margin-right: 24px;
            }
        }

        &__block-full{
            display: flex;
            flex-direction: column-reverse;
            height: auto;

            &-gallery{
                margin-bottom: 25px;
                .gallery-top{
                    max-width: 100%;

                    img{
                       width: 23.5%;
                       height: 150px;
                    }
                }
                .gallery-bottom{
                    img{
                        width: 100%;
                        height: 350px;
                        cursor: pointer;
                        transition: transform .3s;
    
                        &:hover{
                            transform: scale(1.05);
                        }
                    }
    
                    svg{
                        position: absolute;
                        bottom: 9px;
                        right: 9px;
                    }
                }
            }
        }
    }
}

@media (max-width: 730px){
    .section-five{
        padding-bottom: 58px;

        h2{
            font-size: 30px;
            padding: 58px 19px 10px 21px;
        }

        &__navigation{
            padding: 0px 19px 0px 21px;
            p{
                font-size: 20px;

                &:nth-child(2){
                    display: none;
                }
            }
        }

        &__navigation-mobile{
            display: block;
            padding: 43px 21px 0px;

            svg{
                width: 24px;
                margin-right: 15px;
            }
        }

        &__slider-two{
            .slick-list{
                padding-left: 23px;
            }

            .slick-slide{
                width: 94vw;
                margin-right: 24px;
            }
        }

        &__slider-one{
            margin-top: 27px;
    
            .slick-list{
                padding-left: 20px;
            }
    
            .slick-slide{
                margin-right: 20px;
                width: 314px !important;

                .section-five__block{
                    width: 314px !important;
                    height: 501px;
                    padding: 26px 26px 29px;

                    img{
                        width: 263px;
                        height: 236px;
                    }
            
                    &-info{
                        margin-top: 21px;

                        p{
                            font-size: 16px;
            
                            span{
                                font-size: 17px;
                            }
                        } 
                    }
            
                    .btn.btn-primary{
                        height: 56px;
                        width: 219px;
                        margin-top: 10px;
                        font-size: 22px;
                    }
                }
            }
        }

        &__block-full{
            padding: 56px 20px 24px 20px;
            display: flex;
            justify-content: space-between;

            &-info{
                p{
                    font-size: 17px;
                    margin-bottom: 15px !important;
    
                    span{
                        font-size: 15px;
                    }
                } 
            }

            &-gallery{
                margin-bottom: 21px;
                .gallery-top{
                    img{
                       height: 114px;
                       margin-right: 5px;
                    }
                }
                .gallery-bottom{
                    img{
                        width: 100%;
                        height: 280px;
                    }
                }
            }
        }
    }
}

@media (max-width: 510px) {
    .section-five{

        &__slider-two{
            .slick-slide{
                width: 89vw;
            }
        }

        &__block-full{
            &-gallery{
                .gallery-top{
                    img{
                    //    width: 142px;
                       height: 84px;

                       &:nth-child(3){
                           display: none;
                       }
                    }
                }
                .gallery-bottom{
                    img{
                        width: 100%;
                        height: 176px;
                    }
                }
            }
        }
    }
}

@media (max-width: 422px) {
    .section-five{
        &__block-full{
            &-gallery{
                .gallery-top{
                    img{
                       height: 94px;
                       width: 48%;
                       margin-right: 5px;

                       &:nth-child(3){
                           display: none;
                       }
                    }
                }
                .gallery-bottom{
                    img{
                        width: 100%;
                        height: 176px;
                    }
                }
            }
        }
    }
}

@media (max-width: 350px) {
    .section-five{
        &__block-full{
            &-gallery{
                .gallery-top{
                    img{
                       height: 94px;
                       width: 47%;
                       margin-right: 2px;

                       &:nth-child(3){
                           display: none;
                       }
                    }
                }
                .gallery-bottom{
                    img{
                        width: 100%;
                        height: 176px;
                    }
                }
            }
        }
    }
}