.dashboard{
    margin-top: 56px;
    width: 1122px;
    background: #FFFFFF;
    height: 570px;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    margin: 0 auto;
    position: relative;
    min-height: 570px;

    &--registration{
        height: 663px;
        position: relative;

        .close-btn{
            cursor: pointer;
            position: absolute;
            top: 36px;
            right: 32px;
        }
    }

    &--forgot-password{
        position: relative;

        .close-btn{
            cursor: pointer;
            position: absolute;
            top: 36px;
            right: 32px;
        }
    }

    &__block{
        display: flex;
        height: 100%;
        width: 100%;

        &-menu{
            height: 100%;
            width: 109px;

            a{
                li{
                    cursor: pointer;
                    width: 100%;
                    height: 25%;
                    background-color: #F5F5F5;
                    border-bottom: 1px solid #D9D9D9;
                    border-right: 1px solid #D9D9D9;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 19px;
                    color: #000000;

                    &:hover{
                        opacity: .6;
                    }

                    svg{
                        margin-bottom: 9px;
                    }

                    &.active{
                        background-color: #FFFFFF;
                        border-right: 1px solid #fff;
                        color: #8A0BFF;

                        &:hover{
                            opacity: 1;
                        }

                        svg{
                            path{
                                fill: #8A0BFF !important;
                                stroke: #8A0BFF !important;
                            }
                        }
                    }
                }

                &:first-of-type{
                    li{
                        border-top-left-radius: 15px;
                    }
                }

                &:last-of-type{
                    li{
                        border-bottom-left-radius: 15px;
                        border-bottom: 0;
                    }
                }
            } 
        }

        &-screen{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

@media (max-width: 1200px) {
    .dashboard{
        width: 90%;
        max-width: 100%;
    }
}

@media (max-width: 730px){
    .dashboard{
        height: auto;

        &--registration{
            height: 763px !important;

            .close-btn{
                width: 20px;
                height: 20px;
            }
        }

        &--forgot-password{

            .close-btn{
                width: 20px;
                height: 20px;
            }
        }

        &__block{
            flex-direction: column;

            &-menu{
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: auto;
                
                a{
                    width: 25%;
                    li{
                        height: 94px;
                        font-size: 12px;

                        svg{
                            width: 20px;
                            height: 21px;
                        }

                        &.active{
                            border-right: 1px solid #D9D9D9;
                            border-bottom: 1px solid #FFFFFF;
    
                            svg{
                                width: 20px;
                            }

                            &:last-of-type{
                                border-bottom: 1px solid #fff !important;
                            }
                        }
                    }

                    &:first-of-type{
                        li{
                            border-top-left-radius: 15px;
                        }
                    }
    
                    &:last-of-type{
                        li{
                            border-top-right-radius: 15px;
                            border-bottom-left-radius: 0px;
                            border-bottom: 1px solid #D9D9D9;
                            border-right: 0;
                        }
                    }
                }
            }
        }
    }
}