.section-nine{
    padding: 73px 80px 82px 81px;
    background: #F5F5F5;

    &__block{
        margin: 0 auto;
        width: 1091px;
        height: 415px;
        display: flex;
        background-color: #fff;
        border-radius: 30px;

        &-image{
            img{
                &:nth-child(2){
                    display: none;
                }
            }
        }

        &-info{
            padding: 72px 0px 74px 66px;
            margin-right: 30px;

            h2{
                font-weight: 500;
                font-size: 26px;
                line-height: 140%;
            }

            &-input{
                font-weight: 300;
                font-size: 26px;
                margin-top: 25px;
                line-height: 140%;

                input{
                    outline: none;
                    height: 36px;
                    border: 0;
                    font-weight: 300;
                    width: 200px;
                    border-bottom: 3px solid #9b9b9b;
                    margin-left: 10px;
                    color: #000;
                    border-radius: 0 !important;
                }
            }

            &-checkbox{
                margin-top: 22px;
                display: flex;

                input{
                    margin-right: 8px;
                }
                
                label{
                    font-weight: 200;
                    font-size: 16px;
                    line-height: 125%;

                    a{
                        border-bottom: 1px solid #8A0BFF;
                        color: #8A0BFF;
                    }
                }
            }
            
            .btn.btn-primary{
                margin-top: 28px;
                background: #8A0BFF;
                border-radius: 100px;
                font-weight: 600;
                font-size: 25px;
                line-height: 29px;
                width: 265px;
                height: 66px;

                svg{
                    margin-left: 11px;
                }

                &:hover, &:active, &:focus{
                    background: #6f07d1;  
                }
            }
        }
    }
}

@media (max-width: 1250px){
    .section-nine{
        padding: 73px 40px 82px 41px;

        &__block{
            width: 1024px;
        }
    }
}

@media (max-width: 1024px){
    .section-nine{
        padding: 73px 20px 82px 21px;

        &__block{
            width: 100%;

            &-info{
                padding: 52px 0px 74px 36px;
                margin-right: 10px;

                h2{
                    font-size: 22px;
                }

                &-input{
                    font-size: 22px;

                    input{
                        width: 150px;
                    }
                }

                &-checkbox{  
                    label{ 
                        font-size: 12px;
                    }
                }

                .btn.btn-primary{
                    height: 45px;
                    font-size: 20px;
                    width: 230px;
                }
            }
        }
    }
}

@media (max-width: 800px){
    .section-nine{
        padding: 60px 19px 59px 20px;
        
        &__block{
            width: 335px;
            flex-direction: column;
            height: 632px;
    
            &-image{
                img{
                    &:nth-child(1){
                        display: none;
                    }

                    &:nth-child(2){
                        display: block;
                    }
                }
            }

            &-info{
                padding: 45px 25px 39px 25px;
                margin-right: 0px;
    
                h2{
                    font-size: 19px;
                }
    
                &-input{
                    font-size: 18px;
                    margin-top: 21px;

                    input{
                        border-bottom: 2px solid #9b9b9b;
                        height: 20px;   
                    }
                }
    
                &-checkbox{
                    margin-top: 21px;
                    display: flex;
                    
                    label{
                        font-size: 12px;
                    }
                }
                
                .btn.btn-primary{
                    font-size: 22px;
                    height: 56px;
                    width: 231px;
                }
            }
        }
    }
}