.logout-btn{
    position: absolute;
    right: 20px;
    top: 48px;
    right: 80px;
    background: #A585FF !important;
    border-radius: 61.1336px;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 19px !important;
    max-width: 111px !important;
    height: 40px !important;

    &:disabled {
        background: #8B8B8B !important;
    }

    &:hover {
        background: #7847ff !important;
    }
}

@media (max-width: 850px) {
    .logout-btn {
        font-size: 12px !important;
        max-width: 111px !important;
        right: 40px;
    }
}

@media (max-width: 730px) {
    .logout-btn {
        width: 100% !important;
        max-width: 110px !important;
        top: 134px;
        right: 24px;
        font-size: 15px !important;
    }
}