.section-one{
    padding: 66px 80px 0px 82px;

    img{
        display: none;
    }

    h1{
        max-width: 513px;
        font-weight: 300;
        font-size: 65px;
        line-height: 100%;
    }

    &__block{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p{
            max-width: 513px;
            font-weight: 100;
            font-size: 35px;
            line-height: 125%;
        }
    }
}

@media (max-width: 1250px){
    .section-one{
        padding: 46px 40px 0px 32px;

        h1{
            font-size: 60px;
        }
    }
}

@media (max-width: 1024px){
    .section-one{
        padding: 40px 40px 0px 20px;

        h1{
            font-size: 55px;
        }

        p{
            font-size: 32px;
        }
    }
}

@media (max-width: 850px){
    .section-one{
        h1{
            font-size: 45px;
        }

        p{
            font-size: 22px;
        }
    }
}

@media (max-width: 730px){
    .section-one{
        padding: 63px 20px 0px 20px;

        img{
            display: block;
        }

        h1{
            margin-top: 40px;
            font-size: 42px;
            line-height: 100%;
            font-weight: 300;
        }

        &__block{
            margin-top: 30px;
    
            p{
                font-size: 22px;
            }
        }
    }
}

@media (max-width: 730px){
    .section-one{
        padding: 63px 20px 0px 20px;

        img{
            display: block;
        }

        h1{
            margin-top: 40px;
            font-size: 42px;
            line-height: 100%;
            font-weight: 300;
        }

        &__block{
            p{
                font-size: 22px;
            }
        }
    }
}

@media (max-width: 450px){
    .section-one{

        &__block{
            display: block;

            .btn{
                margin-top: 30px;
            }
        }
    }
}