.section-one{
    padding: 66px 80px 0px 82px;

    img{
        display: none;
    }

    h1{
        max-width: 513px;
        font-weight: 300;
        font-size: 65px;
        line-height: 100%;
    }

    &__block{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p{
            max-width: 513px;
            font-weight: 100;
            font-size: 35px;
            line-height: 125%;
        }
    }

    .btn.btn-primary{
        color: #FFFFFF;
        font-weight: 600;
        font-size: 25px;
        width: 363px;
        color: #fff;
        background: #8A0BFF;
        border-radius: 100px;
        height: 66px;

        &:hover{
            background: #740ed3;
        }
    
        &:focus{
            background: #740ed3;
        }
    
        &:active{
            background:#8A0BFF;
        }
    }

    .button-pulse{
        animation: pulse 1500ms infinite;
    }

    @keyframes pulse {
        0% { background-color: #740ed3; box-shadow: 0 0 5px #740ed3; }
        50% { background-color: #a24bf3; box-shadow: 0 0 20px #a24bf3; }
        100% { background-color: #740ed3; box-shadow: 0 0 5px #740ed3; }
    }
}

@media (max-width: 1250px){
    .section-one{
        padding: 46px 40px 0px 32px;

        h1{
            font-size: 60px;
        }
    }
}

@media (max-width: 1024px){
    .section-one{
        padding: 40px 40px 0px 20px;

        h1{
            font-size: 55px;
        }

        p{
            font-size: 32px;
        }
    }
}

@media (max-width: 850px){
    .section-one{
        h1{
            font-size: 45px;
        }

        p{
            font-size: 22px;
        }

        .btn.btn-primary{
            font-size: 20px;
            width: 287px;
            height: 52px;
        }
    }
}

@media (max-width: 730px){
    .section-one{
        padding: 63px 20px 0px 20px;

        img{
            display: block;
        }

        h1{
            margin-top: 40px;
            font-size: 42px;
            line-height: 100%;
            font-weight: 300;
        }

        &__block{
            margin-top: 30px;
    
            p{
                font-size: 22px;
            }
        }

        .btn.btn-primary{
            font-size: 16px;
        }
    }
}

@media (max-width: 730px){
    .section-one{
        padding: 63px 20px 0px 20px;

        img{
            display: block;
        }

        h1{
            margin-top: 40px;
            font-size: 42px;
            line-height: 100%;
            font-weight: 300;
        }

        &__block{
            p{
                font-size: 22px;
            }
        }
    }
}

@media (max-width: 450px){
    .section-one{

        &__block{
            display: block;

            .btn{
                margin-top: 30px;
            }
        }

        .btn.btn-primary{
            width: 305px;
            font-size: 22px;
            height: 56px;
        }
    }
}