.data-input {
    margin-top: 65px;
    overflow-y: scroll;
    padding: 40px;

    input[type='date'], input[type='time'] {
        -webkit-appearance: none;
        background-color: #fff;
        color: #000;
        font-size: 16px;
        font-weight: 400;
    }

    &::-webkit-scrollbar {
        width: 5px; /* ширина для вертикального скролла */
        height: 8px; /* высота для горизонтального скролла */
        background-color: #e2e2e2;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #8d8d8d;
        border-radius: 5px;
    }

    &__block {
        display: flex;
        justify-content: space-between;

        &-left {
            width: 247px;
            margin-right: 81px;

            div {
                margin-bottom: 23px;
                position: relative;

                svg{
                    position: absolute;
                    top: 27px;
                    left: 5px;
                    cursor: pointer;
                    z-index: 100;

                    path{
                        fill: #8B8B8B;
                    }

                    &:hover{
                        opacity: .5;
                    }
                }

                p {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    color: #8B8B8B;
                }

                input {
                    width: 100%;
                    height: 40px;
                    border: 1px solid #D9D9D9;
                    border-radius: 10px;
                    font-weight: 400;
                    font-size: 16px;
                    padding: 0px 25px;
                    line-height: 19px;
                    color: #000;
                    margin-top: 7px;

                    &.error {
                        border-color: #FF0000;

                        &::placeholder {
                            color: #ff0000;
                        }
                    }
                }
            }
        }

        &-right {
            width: 495px;

            &-flex {
                display: flex;
                justify-content: space-between;

                div {
                    width: 239px;
                    margin-bottom: 0 !important;
                }
            }

            div {
                margin-bottom: 23px;
                position: relative;

                svg{
                    position: absolute;
                    top: 28px;
                    left: 5px;
                    cursor: pointer;

                    path{
                        fill: #8B8B8B;
                    }

                    &:hover{
                        opacity: .5;
                    }
                }

                p {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    color: #8B8B8B;
                }

                input {
                    width: 100%;
                    height: 40px;
                    border: 1px solid #D9D9D9;
                    border-radius: 10px;
                    font-weight: 400;
                    font-size: 16px;
                    padding: 0px 25px;
                    line-height: 19px;
                    color: #000;
                    margin-top: 7px;

                    &.error {
                        border-color: #FF0000;

                        &::placeholder {
                            color: #ff0000;
                        }
                    }
                }
            }
        }

        &-select {
            cursor: pointer;
            border-radius: 10px !important;
            border: 1px solid #D9D9D9 !important;
            font-weight: 400 !important;
            font-size: 16px !important;
            line-height: 19px !important;
            color: #000000 !important;
            height: 40px;
            padding: 0px 25px !important;
            width: 100%;
            margin-top: 7px;

            &:focus {
                border: 1px solid #D9D9D9 !important;
                box-shadow: none !important;
            }

            &.error{
                border: 1px solid #FF0000 !important;

                color: #FF0000 !important;

                option{
                    color: #000 !important;
                }
            }
        }
    }

    &__text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #8B8B8B;

        .btn-group {
            margin-left: 10px;
            width: 219px;
            height: 71px;
            border-radius: 10px;

            .btn.btn-primary {
                background: #fff;
                font-weight: 300;
                font-size: 24px;
                line-height: 28px;
                color: #8B8B8B;
                border: 1px solid #D9D9D9 !important;
                display: flex;
                align-items: center;
                justify-content: center;

                &:nth-child(1) {
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }

                &:nth-child(2) {
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }

                &.active {
                    background-color: #A585FF;
                    color: #fff;
                }
            }
        }
    }

    .data-input__send-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;

        .send-btn {
            width: 213px;
            height: 55px;
            font-size: 22px;

            &:disabled {
                background-color: #8B8B8B;
            }
        }

        p {
            color: #FF0000;
        }
    }
}

@media (max-width: 1100px) {
    .data-input {
        overflow-y: auto;
        padding: 80px 0px;

        &__block {
            flex-direction: column;

            &-left {
                width: 495px;
                margin-right: 0;
            }
        }

        &__text {
            flex-direction: column;
            width: 495px;
        }

        .data-input__send-btn {
            display: flex;
            flex-direction: column-reverse;

            .send-btn {
                margin-top: 38px;
            }
        }
    }
}

@media (max-width: 730px) {
    .data-input {
        overflow-y: hidden;
        margin-top: 130px;
        padding: 0px 25px 40px;
        width: 100%;

        &__block {

            &-left {
                width: 100%;
            }

            &-right {
                width: 100%;

                &-flex {
                    flex-direction: column;

                    div {
                        width: 100%;

                        &:nth-child(2) {
                            margin-top: 20px;
                        }
                    }

                    input,
                    select {
                        width: 100%;
                    }
                }
            }
        }

        &__text {
            width: 100%;

            .btn-group {
                margin-top: 23px;
            }
        }
    }
}