.modal-image{
    .modal-content{
        background-color: transparent;
        border: 0;

        .big-image{
            max-height: 95vh;
        }
    }

    img{
        border-radius: 15px;
    }
}