.header{
    padding: 40px 80px 41px 82px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 20;
    
    &__background{
        display: none;
        width: 100%;
        height: 67px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        background: linear-gradient(to top, #7989e0 100%, rgba(134, 150, 238, 0) 90.83%);
    }

    &--open-sidebar{
        & .header__background{
            transform: none;
        }
    }

    &__navigation{
        display: flex;

        li{
            font-weight: 300;
            font-size: 16px;
            margin-right: 33px;
            cursor: pointer;

            &:nth-child(5){
                margin-right: 0;
            }

            &:hover{
                opacity: .6;
            }
        }
    }

    &__button-burger{
        display: none;
        position: relative;
        z-index: 19;

        svg{
            rect{
                transition: transform 0.25s;
            }

            &.active{
                rect:nth-of-type(1){
                    transform: rotate(45deg);
                    transform-origin: 5px 2px;
                    fill: #fff;
                }

                rect:nth-of-type(2){
                    display: none;
                }

                rect:nth-of-type(3){
                    transform: rotate(-45deg);
                    transform-origin: 5px 20px;
                    fill: #fff;
                }
            }
        }
    }

    &__menu{
        position: relative;
        z-index: 19;
        display: flex;
        align-items: center;

        li{
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 400;
            cursor: pointer;

            &:hover{
                opacity: .6;
            }

            &:nth-child(1){
                margin-right: 47px;

                svg{
                    margin-bottom: 3px;

                    path{
                        transition: .8s;
                    }

                    &.active{
                        path{
                            fill: #fff;
                        }
                    }
                }
            }

            &:nth-child(2){
                margin-right: 33px;
                transition: 1s;
                
                &.active{
                    color: #fff;
                    transition: 1s;
                }

                svg{
                    margin-left: 5px;
                    margin-bottom: 3px;

                    path{
                        transition: 1s;
                    }

                    &.active{
                        path{
                            transition: 1s;
                            stroke: #fff;
                        }
                    }
                }
            }

            &:nth-child(3){
                .third-mobile{
                    display: none;
                }

                svg{
                    margin-bottom: 6px;

                    path{
                        transition: 1s;
                    }

                    &.active{
                        path{
                            transition: 1s;
                            stroke: #7F92EF;
                            fill: #fff;
                        }
                    }
                }
            }

            &.language-menu-text{
                
                svg{
                    transition: .3s;
                }
                &--active{
                    svg{
                        transform: rotate(-179deg);
                    }
                }
            }
        }
    }

    .language-menu{
        position: absolute;
        width: 171px;
        top: 95px;
        right: 81px;
        background-color: #fff;
        padding: 23px 20px 18px 19px !important;
        border: 1px solid #D9D9D9;
        border-radius: 15px;

        li{
            font-weight: 400;
            font-size: 18px;
            line-height: 190%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #D9D9D9;
            cursor: pointer;

            svg{
                margin-bottom: 10px;
            }

            &:hover{
                opacity: 1 !important;
            }

            &:not(.active){
               color: rgba(217, 217, 217, 1)
            }
        }
    }
}

@media (max-width: 1250px){
    .header{
        padding: 30px 40px 41px 32px;

        &__logo{
            img{
                width: 150px;
            }
        }

        &__navigation{
            li{
                margin-right: 20px;
                font-size: 15px;
            }
        }

        &__menu{
            li{
                font-size: 16px;
    
                &:nth-child(1){
                    margin-right: 37px;

                    svg{
                        width: 18px;
                        height: 18px;
                    }
                }
    
                &:nth-child(2){
                    margin-right: 23px;
                }
            }
        }

        .language-menu{
            right: 40px;
            top: 70px;
        }
    }
}

@media (max-width: 1024px){
    .header{
        padding: 20px 40px 41px 22px;

        &__navigation{
            li{
                margin-right: 20px;
            }
        }

        &__menu{
            li{
                font-size: 16px;
    
                &:nth-child(1){
                    margin-right: 17px;

                    span{
                        display: none;
                    }
                }
    
                &:nth-child(2){
                    margin-right: 17px;
                }
            }
        }
    }
}

@media (max-width:850px) {
    .header{
        &__logo{
            img{
                width: 120px;
            }
        }

        &__navigation{
            li{
                margin-right: 14px;
                font-size: 14px;
            }
        }

        &__menu{
            li{
                &:nth-child(1){
                    margin-right: 14px;
                }
    
                &:nth-child(2){
                    margin-right: 14px;
                }
            }
        }
    }
}

@media (max-width: 730px){
    .header{
        padding: 20px 20px 21px 20px;

        &__background{
            display: block;
        }

        &__logo{
            display: none;
        }

        &__navigation{
            display: none;
        }

        &__button-burger{
            display: block;
        }

        &__menu{
            li{

                &:nth-child(1){
                    margin-right: 16px;
                    
                    svg{
                        margin-bottom: 4px;

                        path{
                            width: 18px;
                            height: 18px;
                            stroke-width: .1px !important;
                        }
                    } 
                }
    
                &:nth-child(2){
                    margin-right: 13px;
                    font-weight: 300;

                    svg path{
                        stroke-width: 1.1px;
                    }
                }

                &:nth-child(3){
                    .third-desktop{
                        display: none;
                    }

                    .third-mobile{
                        display: block;
                    }
                    svg {
                        margin-bottom: 5px;   
                    }
                }
            }
        }

        .language-menu{
            right: 20px;
            top: 50px;
        }
    }
}