.header{
    height: 140px;
    padding: 40px 80px 41px 82px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__navigation{
        display: flex;

        li{
            font-weight: 300;
            font-size: 16px;
            margin-right: 33px;
            cursor: pointer;

            &:nth-child(5){
                margin-right: 0;
            }

            &:hover{
                opacity: .6;
            }
        }
    }

    &__menu{
        display: flex;
        align-items: center;

        li{
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 400;
            cursor: pointer;

            &:hover{
                opacity: .6;
            }

            &:nth-child(1){
                margin-right: 47px;

                svg{
                    margin-right: 5px;
                    margin-bottom: 3px;
                }
            }

            &:nth-child(2){
                margin-right: 33px;

                svg{
                    margin-left: 5px;
                    margin-bottom: 3px;
                }
            }

            &:nth-child(3){
                svg{
                    margin-bottom: 6px;
                }
            }
        }
    }
}