.section-eight {
    background-color: #fff;
    padding: 88px 80px 66px 0px;
    position: relative;

    .section_href {
        color: #000 !important;

        &:hover {
            opacity: .7;
        }
    }

    &__faq {
        display: flex;

        &-image {
            margin-right: 45px;
            width: 60%;

            img {
                width: 100%;
                height: 1300px;
            }
        }

        &-info {
            width: 100%;

            h3 {
                font-weight: 400;
                font-size: 40px;
                line-height: 120%;
                color: #8A0BFF;
                margin-bottom: 29px !important;
            }

            span {
                font-weight: 200;
                font-size: 26px;
                line-height: 120%;
            }

            .accordion {
                margin-top: 30px;

                &-item {
                    margin-bottom: 15px;
                    border-radius: 15px;
                    border: 1px solid #D9D9D9;

                    &:not(:first-of-type) {
                        border-top: 1px solid #D9D9D9;
                    }

                    &:first-of-type {
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;

                        .accordion-button {
                            border-top-left-radius: 15px;
                            border-top-right-radius: 15px;
                        }
                    }

                    &:last-of-type {
                        border-bottom-left-radius: 15px;
                        border-bottom-right-radius: 15px;

                        .accordion-button {
                            border-bottom-left-radius: 15px !important;
                            border-bottom-right-radius: 15px !important;

                        }
                    }
                }

                &-header {
                    border-radius: 15px;

                    &:hover {
                        opacity: .7;
                    }
                }

                &-button {
                    padding: 20px 36px;
                    border-radius: 15px;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 125%;

                    &:not(.collapsed) {
                        box-shadow: none;
                        color: #000;
                        background-color: #fff;

                        &::after {
                            background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23212529%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e")
                        }
                    }

                    &:focus {
                        border: 0;
                        box-shadow: none;
                    }
                }

                &-body {
                    padding: 0px 36px 20px;
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 125%;
                    max-width: 989px;

                    a {
                        border-bottom: 1px solid #8A0BFF;
                        color: #8A0BFF !important;
                        cursor: pointer; 
                    }

                    h4 {
                        font-weight: 400;
                        font-size: 18px;
                    }

                    ul {
                        margin-top: 10px;
                        margin-left: 20px;

                        li {
                            font-weight: 300;
                            font-size: 18px;
                            list-style-type: disc;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1500px) {
    .section-eight {
        &__faq {
            display: flex;

            &-image {
                margin-right: 45px;
                width: 70%;

                img {
                    width: 100%;
                    height: 1000px;
                }
            }
        }
    }
}

@media (max-width: 1250px) {
    .section-eight {
        padding: 46px 40px 66px 0px;
    }
}

@media (max-width: 1024px) {
    .section-eight {
        padding: 46px 20px 66px 0px;

        &__faq {
            display: flex;

            &-image {
                margin-right: 25px;
                width: 80%;

                img {
                    width: 100%;
                    height: 800px;
                }
            }
        }

        h3 {
            font-size: 35px;
        }

        span {
            font-size: 22px;
        }
    }
}

@media (max-width: 900px) {
    .section-eight {
        &__faq {
            display: flex;

            &-image {
                width: 70%;

                img {
                    width: 100%;
                    height: 600px;
                }
            }
        }
    }
}

@media (max-width: 730px) {
    .section-eight {
        padding: 52px 20px 62px 0px;

        &__faq {
            display: flex;
            flex-direction: column;

            &-image {
                width: 100%;
                margin-bottom: 45px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &-info {
                width: 100%;
                padding: 0px 0px 0px 20px;

                h3 {
                    font-size: 30px;
                    text-align: center;
                    margin-bottom: 11px !important;
                }

                span:not(.href-to-call-me-back) {
                    font-size: 20px;
                    display: flex;
                    justify-content: center;
                }

                .accordion {
                    margin-top: 23px;

                    &-item {
                        padding: 20px 15px 21px 20px;
                    }

                    &-button {
                        font-size: 18px;
                        padding: 0;
                    }

                    &-body {
                        font-size: 16px;
                        padding: 0;
                        padding-top: 10px;

                        h4 {
                            font-weight: 400;
                            font-size: 18px;
                        }

                        ul {
                            margin-top: 10px;
                            margin-left: 20px;

                            li {
                                font-weight: 300;
                                font-size: 18px;
                                list-style-type: disc;
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}