
.Toastify__toast--error{
    .Toastify__toast-icon{
        svg{
            fill: #ff0000;
        }
    }  
}

.Toastify__toast-icon{
    svg{
        fill: #8A0BFF;
    }
}

.toast-modal-progress{
    background: #8A0BFF !important;
}


.section-seven__modal{
    position: absolute;
    height: 474px;
    z-index: 100;
    width: 1280px;
    border-radius: 15px;
    background-color: #fff;
    left:50%;
    transform:translate(-50%, 0%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 78px 78px 64px 79px;
    animation-duration: 0.4s;
	animation-timing-function: linear;

    &--hidden{
        animation-name: fadeOut;
        opacity: 0;
        visibility: hidden;
        top: -800px;
        
        @keyframes fadeOut {
            from {
                opacity: 1;
                visibility: visible;
                top: -800px;
            }
            to { 
                opacity:0;
                visibility: hidden; 
                top: -500px;
            } 
        }
    }

    &--active{
        animation-name: fadeIn;
        top: -800px;

        @keyframes fadeIn {
            from {
                opacity: 0;
                visibility: hidden;
                top: -500px;
            }
            to { 
                opacity:1;
                visibility: visible; 
                top: -800px;
            }
        }
    }

    &-close-btn{
        position: relative;

        svg{
            position: absolute;
            right: -50px;
            top: -50px;
            cursor: pointer;

            &:hover{
                opacity: .4;
            }
        }
    }

    h3{
        text-align: center;
        font-weight: 300;
        font-size: 24px;
        line-height: 120%;
        margin-bottom: 39px !important;

        span{
            border-bottom: 1px solid #000;
        }
    }

    form{
        display: flex;
        align-items: center;
        flex-direction: column;

        input::placeholder{
            font-size: 14px;
        }

        div{
            p{
                font-weight: 400;
                font-size: 14px;
                margin-bottom: 7px !important;
                line-height: 16px;
                color: #8B8B8B;
            }
            input, select{
                width: 376px;
                height: 40px;
                padding: 0px 20px;
                border: 1px solid #D9D9D9;
                border-radius: 10px;
                font-size: 16px;
                
                &:focus {
                    border: 1px solid #D9D9D9 !important;
                    box-shadow: none !important;
                }
            }
        }

        .form__input{
            display: flex;
            margin-top: 21px;

            input{
                margin-right: 10px;
            }

            input,select{
                height: 40px;
                width: 185px;
            }
        }

        .form__checkbox{
            display: flex;
            width: 376px;
            align-items: center;
            margin-top: 23px;

            input{
                width: 20px;
                height: 20px;
                margin-right: 5px;
            }

            label{
                font-weight: 400;
                font-size: 12px;
            }
        }

        .btn{
            margin-top: 25px;
            width: 243px;
            height: 55px;
            font-size: 19px;
        }
    }
}

@media (max-width: 1435px) {
    .section-seven__modal{
        width: 1000px;
    }
}


@media (max-width: 1024px) {
    .section-seven__modal{
        background-color: #fff;
        height: 500px;
        width: 473px;

        h3{
            font-size: 18px !important;
        }
    }
}

@media (max-width: 730px) {
    .section-seven__modal{
        height: 450px;
        width: 435px;
        padding: 56px 25px;

        &--hidden{
            animation-name: fadeOut;
            opacity: 0;
            visibility: hidden;
            top: -840px;
            
            @keyframes fadeOut {
                from {
                    opacity: 1;
                    visibility: visible;
                    top: -840px;
                }
                to { 
                    opacity:0;
                    visibility: hidden; 
                    top: -500px;
                } 
            }
        }
    
        &--active{
            animation-name: fadeIn;
            top: -840px;
    
            @keyframes fadeIn {
                from {
                    opacity: 0;
                    visibility: hidden;
                    top: -540px;
                }
                to { 
                    opacity:1;
                    visibility: visible; 
                    top: -840px;
                }
            }
        }

        &-close-btn{
            position: relative;
    
            svg{
                width: 20px;
                height: 20px;
                right: 0px;
                top: -30px;
    
                &:hover{
                    opacity: .4;
                }
            }
        }

        h3{
            font-size: 16px !important;

            span{
                font-size: 16px !important;
            }
        }
    }
}

@media (max-width: 470px) {
    .section-seven__modal{
        height: 450px;
        width: 335px;
        padding: 56px 25px;

        form{
            display: flex;
            align-items: center;
            flex-direction: column;
    
            div{
                p{
                    font-weight: 400;
                    font-size: 14px;
                    margin-bottom: 7px !important;
                    line-height: 16px;
                    color: #8B8B8B;
                }
                input, select{
                    width: 296px;
                    height: 40px;
                    padding: 0px 20px;
                    border: 1px solid #D9D9D9;
                    border-radius: 10px;
                    font-size: 16px;
                }
            }
    
            .form__input{
                display: flex;
                margin-top: 21px;
    
                input{
                    margin-right: 10px;
                }
    
                input,select{
                    height: 40px;
                    width: 145px;
                }
            }
    
            .form__checkbox{
                display: flex;
                width: 256px;
                align-items: center;
                margin-top: 23px;
    
                input{
                    width: 20px;
                    height: 20px;
                    margin-right: 3px;
                }
    
                label{
                    font-weight: 400;
                    font-size: 12px;
                }
            }
    
            .btn{
                margin-top: 25px;
                width: 243px;
                height: 55px;
                font-size: 19px;
            }
        }
    }
}