.confirmation {
    height: 100%;
    padding: 0px 0px 51px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-weight: 300;
        font-size: 35px;
        text-align: center;
    }

    .btn{
        margin-top: 50px;
        width: 200px;
    }
}

@media (max-width: 730px) {
    .confirmation {
        padding: 172px 0px 51px;
        h1 {
            font-size: 30px;
            text-align: center;
        }

        .btn.btn-primary {
            font-size: 25px;
            margin-top: 40px;
        }
    }
}

@media (max-width: 450px) {
    .confirmation {
        h1 {
            font-size: 24px;
        }
    }
}